In [1]:
meal_cost = float(input("Enter the cost of the meal: $"))

tax_rate = 0.13

tax_amount = meal_cost * tax_rate
tip_amount = meal_cost * 0.18
total_amount = meal_cost + tax_amount + tip_amount

print("Tax: ${:.2f}".format(tax_amount))
print("Tip: ${:.2f}".format(tip_amount))
print("Total: ${:.2f}".format(total_amount))

Enter the cost of the meal: $ 5.70

Tax: $0.74
Tip: $1.03
Total: $7.47

In [2]:
name="Diksha"
mailingaddress="talegaon Dabhade pune"
print("my name is:{name} and my mailing address is:{email}".format(name=name,email=mailingaddress));

my name is:Diksha and my mailing address is:talegaon Dabhade pune

In [3]:
x=input("Enter yout name:")
print("hello {x}".format(x=x))

Enter yout name: Diksha

hello Diksha

In [5]:
width = float(input("Enter the width of the room: "))
height = float(input("Enter the height of the room: "))
area = width * height
print("The width of the room is {width} and the height of the room is {height}, ""then the total area of the room is {area}m".format(width=width, height=height, area=area)
)

Enter the width of the room:  35
Enter the height of the room:  40

The width of the room is 35.0 and the height of the room is 40.0, then the total area of the room is 1400.0m

In [6]:
sqperacre = 43560

length = float(input("Enter the length of the field in feet: "))
width = float(input("Enter the width of the field in feet: "))
area = (length * width) / sqperacre
print("The length of the field in feet is {length}, ""the width of the field in feet is {width}, ""and the area of the field in acres is {area}".format(length=length, width=width, area=area))

Enter the length of the field in feet:  70
Enter the width of the field in feet:  40

The length of the field in feet is 70.0, the width of the field in feet is 40.0, and the area of the field in acres is 0.0642791551882461

In [7]:
n=int(input("Enter the first n natural number:"))
sum=n*n+1/2
print("the sum of the first natural number is:{sum}".format(sum=sum))

Enter the first n natural number: 16

the sum of the first natural number is:256.5